<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Server Statistics</title>
  </head>

  <body>
  <div class="content">
    <div class="container">
      <div class="table-responsive">
        placeholder
      </div>
    </div>
  </div>
  </body>

</html>